/*
Program       timer.css
Author        Gordon Moore
Date          23 January 2021
Description   The css code for timer (in electron)
Licence       GNU General Public Licence Version 3, 29 June 2007
*/

/*
0.0.1   Initial version
1.0.0   25 January 2021 Version 1
1.0.1   27 January 2021 Make resizable

1.1.0   31 January 2021 Add a clock.
1.1.1   4  February 2021 Add date to clock and make clock first
1.1.2   13 February 2021 Do some more work on resizing.

*/

html { 
  font-family: sans-serif; 
  color: blue;
  background-color: lightyellow;
  height: 100%;
}

body {
  height: calc(100% - 1rem);
  -webkit-app-region: drag; /*need to declare some divs no-drag to allow functionality*/
}

/* min-height: 100%; */
#main {
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; */
}

#displaysection {
  border: 1px solid blue;
  user-select: none;
}

#spacer {
  /* border: 1px solid red; */
}

#controlssection {
  /* border: 1px solid blue; */
  padding-bottom: 0.3rem;
}

#timer {
  border: 1px solid blue;
  user-select: none;
}

#stopwatch {
  border: 1px solid blue;
  user-select: none;
}

#clock {
  border: 1px solid purple;
  background-color: #dcd0ff;  /*palelavender;*/
  user-select: none;
}

/*---------------------controls--------------------*/
#fixedtimes {
  display: grid;
  grid-template-columns: 1.2rem 1.2rem 1.2rem 1.2rem 1.2rem auto;
  margin-top: 0.5rem;
  margin-left: 0.0rem;
  user-select: none;
  -webkit-app-region: no-drag;
}

.periodbuttons {
  background-color: lightgrey;
  font-size: 0.7rem;
  width: 0.9rem;
  height: 0.8rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 0.05rem;
  user-select: none;
}

#customtime {
  border: solid 1px black;
  border-radius: 0.5rem;
  background-color: lightyellow;
  font-size: 1.5rem;
  position: absolute;
  left: 4.5rem;
  top: 8rem;
  width: 7rem;
  height: 2.0rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
}


#controls {
  display: grid;
  grid-template-columns: 2.0rem 1.4rem 2.0rem 2.0rem;
  margin-top: 0.5rem;
  margin-left: 0.0rem;
  user-select: none;
  -webkit-app-region: no-drag;
}

.controlbuttons {
  background-color: palegreen;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.0rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 0.1rem;
}

#mode {
  background-color: moccasin; 
}

/* * {
  transform: scale(1.0, 1.0)
  } */